html {
    box-sizing: border-box;
}
div {
    float: left;
 width: 33.33%;
 padding: 5px;

}
octodex {
    /* box-sizing: border-box; */
   /* border-style: solid;
   border-color: lightslategrey;
   display: inline-block;
   column-count: 3;
   column-gap: 1em; */
float: left;
 width: 33.33%;
 padding: 5px;
}

.octocat {
/* position: relative;
 column-count: 3;
 column-gap: 1em; */
 /* float: left;
 width: 33.33%;
 padding: 5px; */
}
.image-footer {
   
}
.authors img {
    
}